---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm';
---

<Layout title="Contact">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      Nimm Kontakt auf
    </h1>

    <p class="mb-8">
      Hast Du eine Frage oder willst Du ein Thema vorschlagen? <br>
      Dann schreib eine Nachricht und ich melde mich bei Dir.
    </p>

    <ContactForm client:load />
  </div>
</Layout>
